## DataTypes

#### 1. Definition:

- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#### 2. Importance of Data Types in Programming

Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

Outline:

1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types
   - Lists
   - Tuples
   - Sets
   - Dictionaries
5. Type Conversion
6. Practical Examples

In [8]:
# shift + alt + up/down arrow keys to copy the lines above or down

# ctrl + /

#  ctrl + A

# shift + left/right arrow key to select a single character
# ctrl + shift + left/right to select a block of words

#  Jupyter

#  select a cell and then  press--

# 1. A to add a cell before the selection
# 2. B to add a cell after the selection
# 3. D to delete the selected cell

In [ ]:
## Integer Example

age=35
print(type(age))

<class 'int'>

In [2]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
## string datatype example
name="Abhishek"
Name = 'Sagar'
Name_1 = """Rishi"""
print(name)
print(type(name))
print(Name)
print(type(Name))
print(Name_1)
print(type(Name_1))

Abhishek
<class 'str'>
Sagar
<class 'str'>
Rishi
<class 'str'>

In [4]:
## boolean datatype
is_true=True
is_false = False
print(type(is_true))
print(type(is_false))
print(is_true)
print(is_false)

<class 'bool'>
<class 'bool'>
True
False

In [ ]:
a=10
b=12

# type(a==b)
print(a == b)
print(type(a))
print(type(b))
print(type(a == b))

False
<class 'bool'>

In [9]:
## common errors

result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [10]:
result="Hello" + str(5)
print(result)

Hello5

In [11]:
id(height)

2864066970128

In [13]:
z = 19

In [14]:
type(z)

int

In [15]:
z

19

In [16]:
z = float(z)
print(z)

19.0

In [17]:
z = str(z)
z

'19.0'

In [18]:
x = 'hello'
type(x)

str

In [19]:
x = int(x)

ValueError: invalid literal for int() with base 10: 'hello'

In [35]:
import random

# print(random.randrange(1, 10))


print(random.randrange(-19,19))

6

In [37]:
#  if you want to see how many functions available in a library 
print(dir(random))

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_ONE', '_Sequence', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_fabs', '_floor', '_index', '_inst', '_isfinite', '_lgamma', '_log', '_log2', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'binomialvariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randbytes', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

In [41]:
# print('it's all right')
      
print("We are so called 'vikings' on earth")

We are so called 'vikings' on earth

In [44]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')
print(len('He is called "Johnny"'))

It's alright
He is called 'Johnny'
He is called "Johnny"
21

In [45]:
len(Name_1)

5

In [48]:
# len(a) # This will give a TypeError

In [50]:
txt = "The best things in life are free!"
print("expensive" not in txt)
print("life"  in txt)

True
True

In [51]:
Name

'Sagar'

In [ ]:
#  [Start:End]  --> includes start and exclude the end

# Variable_Name[:]

In [60]:
len(Name)

Name[:3]

'ABH'

In [53]:
Name[3:]

'ar'

In [ ]:
Name[:]

In [56]:
Name = "ABHISHEK"

len(Name)

8

In [62]:
Name[:]

'ABHISHEK'

In [59]:
# +ve indexing -- +ve slicing

Name[0]

Name[0:4]

'ABHI'

In [64]:
# -ve indexing or slicing

Name[-8]

Name[-8:-4]

'ABHI'

In [65]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [66]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [67]:
Name_1

'Rishi'

In [68]:
Name_1.upper()

'RISHI'

In [69]:
Name_1.lower()

'rishi'

In [71]:
a = "   Hello, World!     "
print(a)
print(a.strip())

   Hello, World!
Hello, World!

In [74]:
a = "Hello, World!"
a = a.replace("H", "J")

print(a)

Jello, World!

In [75]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [76]:
a = "Hello World! Amit"
print(a.split(" "))

['Hello', 'World!', 'Amit']

In [77]:
a = "Amit"
b = "Upadhayay"

c = a + b
print(c)

AmitUpadhayay

In [78]:
d = a +" "+ b
print(d)

Amit Upadhayay

## f"{variable,operations}" --- f-strings

In [84]:
a = 35

print("My name is Abhishek and i am ",a, "year's old.")
print("My name is Abhishek and i am {a} year's old.")


msg = 'I am abhishek and i am ' + a + " year's old"

My name is Abhishek and i am  35 year's old.
My name is Abhishek and i am {a} year's old.

TypeError: can only concatenate str (not "int") to str

In [85]:
d

'Amit Upadhayay'

In [86]:
txt = f"My name is {d} and I'm {30+1} years old."
txt

"My name is Amit Upadhayay and I'm 31 years old."

In [87]:
result = "hello" + 5

TypeError: can only concatenate str (not "int") to str

In [88]:
result = f"hello + 5"

In [89]:
result

'hello + 5'

In [90]:
pi = 22/7

pi

3.142857142857143

In [91]:
f"One third, expressed as a float is: {1 / 3}"

'One third, expressed as a float is: 0.3333333333333333'

In [93]:
f"One third, rounded to two decimal places is: {1 / 3:.5f}"

'One third, rounded to two decimal places is: 0.33333'

In [ ]:
# txt = "We are the so-called "Vikings" from the north."
txt = "We are the so-called 'Vikings' from the north."
txt

In [94]:
txt = "We are the so-called \"Vikings\" from the north."
txt

# /  \

'We are the so-called "Vikings" from the north.'

In [97]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False