## Deep Dive into Operators

### Outline:

1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT
5. Practical Examples and Common Errors

Hint-- https://www.geeksforgeeks.org/complete-reference-for-bitwise-operators-in-programming-coding/

In [1]:
a = 10
b = 5

print(a+b)
print(a-b)
print(a*b)
print(a/b)  
print(a%b) # Remainder
print(a//b) # Quotient without decimals
print(a**b) # a raise to the power b == exponent

15
5
50
2.0
0
2
100000

In [2]:
## Arithmethic Operation

a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division -- this will always give result in floats.
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [3]:
10/5

2.0

In [4]:
21/5

4.2

In [5]:
21//5

4

#### Comparison Operators

In [6]:
## Comparison Operators
## == Equal to
a=10
b=5

a==b

False

In [7]:
a != b

True

In [8]:
a > b

True

In [9]:
a >= b

True

In [10]:
a < b

False

In [11]:
a <= b

False

In [12]:
str1="Amit"
str2="Amit"

str1==str2

True

In [13]:
## Not Equal to !=
str1 != str2

False

In [14]:
str3="Abhishek"
str4="Abhishek"

str3 != str4

False

In [15]:
# greater than >

num1=45
num2=55

num1>num2

False

In [16]:
## less than <

print(num1<num2)

True

In [17]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [18]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

True

#### Logical Operators

In [19]:
## And ,Not,OR
X=True
Y=True

result = X and Y
print(result)

True

In [20]:
X=False
Y=True

result =X and Y
print(result)

False

In [21]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [22]:
# Not operator
X=False
not X

True

In [23]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("num1:",num1)
print("num2:",num2)

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

num1: 23.0
num2: 25.0
Addition: 48.0
Subtraction: -2.0
Multiplication: 575.0
Division: 0.92
Floor Division: 0.0
Modulus: 23.0
Exponentiation: 1.1045767571919546e+34

In [24]:
a = 10
b = 5

In [25]:
a and b

5

In [26]:
a & b

0

In [27]:
a | b

15

In [28]:
~a

-11

In [39]:
b

5

In [30]:
a ^ b

15

In [31]:
c = 5

d = 12

d ^ c

9

In [32]:
d | c

13

In [40]:
~b

-6

In [41]:
a = 10


print(~a)

-11

In [42]:
x = 1000

~x

-1001

In [43]:
x = 5

y = 3

In [44]:
x << y

40

In [46]:
x >> y

0

In [47]:
15 << 8

3840

In [48]:
15<<3

120

In [53]:
x = "This is Data Science Class."

y = "This is Data Science Class."

z = x


c = z


print(id(x))

print(id(y))


print(id(z))
print(id(c))

2705810172592
2705810926576
2705810172592
2705810172592

In [54]:
print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == z)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [34]:
a >> 1

5

In [35]:
a << 1

20

In [36]:
a >> 2

2

In [37]:
b

5

In [38]:
b >> 3

0

In [55]:
a + b

15

In [56]:
a = a+5
a

15

In [57]:
a += 5

In [58]:
a

20

In [59]:
3+3*3/3-1

5.0