#### Introduction To Lists

- Lists are ordered, mutable collections of items.
- They can contain items of different data types.

##### Course Outline:

1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors

In [1]:
# https://www.hackerearth.com/
# https://www.hackerrank.com/
# https://leetcode.com/

In [2]:
String = "Digital "
# String_1 = "CourseAI"

# for i in String:
#     print(i)

for _ in range(10):
    print(_)
    # for str in String:
    #     print(str)

0
1
2
3
4
5
6
7
8
9

In [3]:
string = "Course AI "

for _ in range(10):
    for r in string:
        print(r)

C
o
u
r
s
e

A
I

C
o
u
r
s
e

A
I

C
o
u
r
s
e

A
I

C
o
u
r
s
e

A
I

C
o
u
r
s
e

A
I

C
o
u
r
s
e

A
I

C
o
u
r
s
e

A
I

C
o
u
r
s
e

A
I

C
o
u
r
s
e

A
I

C
o
u
r
s
e

A
I

In [4]:
# list_1 = [1, 2.5, 2j, True, "Bhai"]
# print(type(list_1))

list_1 = list((1, 2.5, 3+2j, True, "Bhai"))
print(list_1)

[1, 2.5, (3+2j), True, 'Bhai']

In [5]:
# A list can contain items of different data types.

list_1 = [1, 2.5, 3+2j, 'a', "Amit", [1,2,3], False]

print(list_1)
print(type(list_1))

[1, 2.5, (3+2j), 'a', 'Amit', [1, 2, 3], False]
<class 'list'>

In [6]:
lst=[]
print(type(lst))

<class 'list'>

In [7]:
names=["Piyush","Jack","Jacob",1,2,3,4,5]
print(names)

['Piyush', 'Jack', 'Jacob', 1, 2, 3, 4, 5]

In [8]:
mixed_list=[1,"Hello",3.14,True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [9]:
### Accessing List Elements

fruits=["apple","banana","cherry","kiwi","guava", "kiwi", "Mango", "kiwi"]

# print(fruits[-1])
# print(fruits)

print(len(fruits))

fruits[0]

fruits[-5]

fruits[2:]

8

['cherry', 'kiwi', 'guava', 'kiwi', 'Mango', 'kiwi']

In [10]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
guava
kiwi

In [11]:
print(fruits[1:])
print(fruits[1:3])

['banana', 'cherry', 'kiwi', 'guava', 'kiwi', 'Mango', 'kiwi']
['banana', 'cherry']

In [12]:
## Modifying The List elements
fruits

['apple', 'banana', 'cherry', 'kiwi', 'guava', 'kiwi', 'Mango', 'kiwi']

In [13]:
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'guava', 'kiwi', 'Mango', 'kiwi']

In [14]:
fruits.index('kiwi')

3

In [15]:
fruits[3]= "apple"

In [16]:
fruits[1:]="watermelon"

In [17]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [18]:
fruits=["apple","banana","cherry","kiwi","banana","guava","banana","banana"]

In [19]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'banana', 'guava', 'banana', 'banana']

In [20]:
## List Methods

fruits.append("orange") ## Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'banana', 'guava', 'banana', 'banana', 'orange']

In [21]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'banana', 'guava', 'banana', 'banana', 'orange']

In [22]:
fruits.remove("banana") ## Removing the first occurance of an item
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'banana', 'guava', 'banana', 'banana', 'orange']

In [23]:
## Remove and return the last element
popped_fruit=fruits.pop()
print(popped_fruit)
print(fruits)

orange
['apple', 'watermelon', 'cherry', 'kiwi', 'banana', 'guava', 'banana', 'banana']

In [24]:
index=fruits.index("cherry")
print(index)

2

In [25]:
fruits

['apple',
 'watermelon',
 'cherry',
 'kiwi',
 'banana',
 'guava',
 'banana',
 'banana']

In [26]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

4

In [27]:
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'banana', 'guava', 'banana', 'banana']

In [28]:
fruits.sort() ## SSorts the list in ascending order

In [29]:
print(fruits)

['apple', 'banana', 'banana', 'banana', 'banana', 'cherry', 'guava', 'kiwi', 'watermelon']

In [30]:
fruits.reverse() ## REverse the list

In [31]:
print(fruits)

['watermelon', 'kiwi', 'guava', 'cherry', 'banana', 'banana', 'banana', 'banana', 'apple']

In [32]:
fruits.clear() ## Remove all items from the list

print(fruits)

[]

In [33]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
numbers[::3]

[1, 4, 7, 10]

In [35]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [53]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
### Iterating Over List

for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [37]:
## Iterating with index
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [57]:
range(5)

range(0, 5)

In [55]:
## List comprehension
lst=[]


for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
list_1 =[]

for i in range(5):
    list_1.append(i)

print(list_1)

[0, 1, 2, 3, 4]

In [ ]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [40]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [41]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### List Comprehension

Basics Syantax [expression for item in iterable]

with conditional logic [expression for item in iterable if condition]

Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [ ]:
### Basic List Comphrension

sqaure=[num**3 for num in range(10)]
print(sqaure)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [44]:
### List Comprehension with Condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [64]:
odd_numbers = list(i for i in range(10) if i%2 != 0)

print(odd_numbers)

[1, 3, 5, 7, 9]

In [45]:
even_numbers=[i for i in range(10) if i%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [66]:
## Nested List Comphrension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [70]:
print(pair[0])
pair[0][1]

[1, 'a']

'a'

In [71]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(i) for i in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]

[5, 5, 6, 4, 13]

In [80]:
list_2 = [(1,2,3), {1,2,3,4}, {"Name":"Digital CourseAI"}, [1,2,3,4]]


for i in list_2:
    print(i)

print(type(list_2))


list_2

(1, 2, 3)
{1, 2, 3, 4}
{'Name': 'Digital CourseAI'}
[1, 2, 3, 4]
<class 'list'>

[(1, 2, 3), {1, 2, 3, 4}, {'Name': 'Digital CourseAI'}, [1, 2, 3, 4]]

In [73]:
list_2

[(1, 2, 3), {1, 2, 3, 4}, {'Name': 'Digital CourseAI'}, [1, 2, 3, 4]]

In [75]:
list_2.pop()

print(list_2)

[(1, 2, 3), {1, 2, 3, 4}, {'Name': 'Digital CourseAI'}]

In [78]:
list_2.remove({'Name': 'Digital CourseAI'})

list_2

[(1, 2, 3), {1, 2, 3, 4}]

In [81]:
a = list_2.pop(0)
print(a)
list_2

(1, 2, 3)

[{1, 2, 3, 4}, {'Name': 'Digital CourseAI'}, [1, 2, 3, 4]]

In [82]:
a

(1, 2, 3)

In [49]:
del list_2[2]

list_2

[(1, 2, 3), {1, 2, 3, 4}, [1, 2, 3, 4]]

In [83]:
list_2

[{1, 2, 3, 4}, {'Name': 'Digital CourseAI'}, [1, 2, 3, 4]]

In [84]:
del list_2

In [85]:
list_2

NameError: name 'list_2' is not defined

#### Conclusion

List comprehensions are a powerful and concise way to create lists in Python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehensions will help you write cleaner and more efficient Python code.