### Functions -- A block of code written to perform a particular task.

In [14]:
def add(*a):
    # return a+b
    print(a)

In [4]:
add(-5,-4)

-9

In [6]:
add("Amit ", "Upadhayay")

Amit Upadhayay

In [8]:
add("amit",5)

TypeError: can only concatenate str (not "int") to str

In [9]:
a = int(input("Enter  First Number: "))

b = int(input("Enter  First Number: "))


add(a,b)

6

In [11]:
add(3)

TypeError: add() missing 1 required positional argument: 'b'

In [15]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus", "Leonidus")

The youngest child is Linus

In [16]:
def my_function(**kid):
  print("His last name is " + kid["fullname"])

my_function(fname = "Tobias", lname = "Refsnes", fullname = "AmitKr")

His last name is AmitKr

In [17]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [18]:
def myfunc(n):
  return lambda a : a * n

In [20]:
mydoubler = myfunc(2)

mytripler = myfunc(3)

In [21]:
mydoubler(4)

8

In [22]:
mytripler(100)

300

In [23]:
n = lambda c : c * 25

In [24]:
n(7)

175

In [26]:
lambda c : c * 25

In [27]:
def sum(n):
    return lambda t : t + n

In [28]:
v = sum(7)

In [29]:
v(9)

16