### Variables

Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

In [ ]:
import sys

In [ ]:
a=100

In [ ]:
b = 't'
c = 1
sys.getsizeof(b)
sys.getsizeof(c)

In [ ]:
sys.getsizeof(a)

In [ ]:
## Declaring and Assigning Variable

age = 32
height = 6.2
name = "Amit"
is_student = True

## printing the variables
print("age :",age)
print("Height :",height)
print("Name :",name)
print("is_student :",is_student)

# Rules of declaring a variable.

1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and \_ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)
5. A variable name cannot be any of the Python keywords.

In [7]:
## Naming Conventions
## Variable name should be descriptive
## They must start with a letter or an '_' and contains letters, numbetrs and underscores.
## Variables names are case sensitive.

# valid variable names

first_name = "Abhishek"
last_name = "Upadhayay"

In [10]:
# Invalid variable names
# 2age = 32
# first-name = "Amit"
# @name = "amit"

In [12]:
# Understanding Variables types
# Python is dynamically typed, type of a variable is determined at runtime.

age = 25 # int
height = 6.2 # float
name = "aMit" # string
is_student = True # bool

print(type(height))
print(type(is_student))

<class 'float'>
<class 'bool'>

In [ ]:
# Type checking
print(type(is_student))

In [13]:
# Type conversion

# age_str = str(age)

print(type(age))
age = str(age)


print(age)
print(type(age))

<class 'int'>
25
<class 'str'>

In [15]:
age = '26'

print(type(age))

print(type(int(age)))

<class 'str'>
<class 'int'>

In [16]:
name = "amit"

int(name)

ValueError: invalid literal for int() with base 10: 'amit'

In [20]:
height = 5.78
type(height)

float

In [21]:
# float(int(height))
int(height)

5

In [22]:
## Dynamic typing
## Python allows the type of variable to change as the program executes.

var = 10 # int
print(var,type(var))

var = "hello"
print(var,type(var))

var = 3.14
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [ ]:
# print() -- print function / output function

In [1]:
# Name = input("What is your name? ")

Name = input("What is your name: ")


print(Name)

What is your name:  Amit

Amit

In [ ]:
## Input -- input()

age = int(input("What is your age: "))
print(age,type(age))

In [ ]:
# Simple Calculator

num_1 = float(input("Enter first number: "))
num_2 = float(input("Enter second number: "))

sum = num_1 + num_2
difference = num_1 - num_2
product = num_1 * num_2
quotient = num_1 / num_2

print("Sum:",sum)
print("Difference:",difference)
print("Product:",product)
print("Quotient:",quotient)

In [ ]:
# keywords : They are reserved words which perform some special task.

In [ ]:
import keyword

In [ ]:
print(keyword.kwlist)

### Conclusion:

Variables are essential in Python programming for storing and manipulating data. Understanding how to declare, assign, and use variables effectively is crucial for writing functional and efficient code. Following proper naming conventions and understanding variable types will help in maintaining readability and consistency in your code.