## DataTypes

#### 1. Definition:

- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#### 2. Importance of Data Types in Programming

Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

Outline:

1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types
   - Lists
   - Tuples
   - Sets
   - Dictionaries
5. Type Conversion
6. Practical Examples

In [1]:
## Integer Example
age=35
print(type(age))

<class 'int'>

In [3]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [4]:
## string datatype example
name="Abhishek"
Name = 'Sagar'
Name_1 = """Rishi"""
print(name)
print(type(name))
print(Name)
print(type(Name))
print(Name_1)
print(type(Name_1))

Abhishek
<class 'str'>
Sagar
<class 'str'>
Rishi
<class 'str'>

In [5]:
## boolean datatype
is_true=True
is_false = False
print(type(is_true))
print(type(is_false))
print(is_true)
print(is_false)

<class 'bool'>
<class 'bool'>
True
False

In [6]:
a=10
b=10

# type(a==b)
print(a == b)
print(type(a == b))

True
<class 'bool'>

In [8]:
## common errors

result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [9]:
result="Hello" + str(5)
print(result)

Hello5

In [11]:
id(height)

2201176236336

In [12]:
z = 19

In [13]:
type(z)

int

In [14]:
z

19

In [15]:
z = float(z)
print(z)

19.0

In [16]:
z = str(z)
z

'19.0'

In [17]:
x = 'hello'
type(x)

str

In [18]:
x = int(x)

ValueError: invalid literal for int() with base 10: 'hello'

In [31]:
import random

print(random.randrange(1, 10))

6

In [34]:
print("It's alright")
print("He is called 'Johnny'")
print(len('He is called "Johnny"'))

It's alright
He is called 'Johnny'
21

In [33]:
len(Name_1)

5

In [37]:
txt = "The best things in life are free!"
print("expensive" not in txt)
print("life" not in txt)

True
False

In [38]:
Name

'Sagar'

In [40]:
#  [Start:End]  --> includes start and exclude the end

In [41]:
Name[:3]

'Sag'

In [42]:
Name[:]

'Sagar'

In [43]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [44]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [46]:
Name_1.upper()

'RISHI'

In [47]:
Name_1.lower()

'rishi'

In [50]:
a = "   Hello, World!     "
print(a)
print(a.strip())

   Hello, World!
Hello, World!

In [51]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [52]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [55]:
a = "Hello World! Amit"
print(a.split(" "))

['Hello', 'World!', 'Amit']

In [56]:
a = "Amit"
b = "Upadhayay"

c = a + b
print(c)

AmitUpadhayay

In [57]:
d = a +" "+ b
print(d)

Amit Upadhayay

## f"{variable,operations}" --- f-strings

In [58]:
txt = f"My name is {d} and I'm {30+1} years old."
txt

"My name is Amit Upadhayay and I'm 31 years old."

In [59]:
result = "hello" + 5

TypeError: can only concatenate str (not "int") to str

In [60]:
result = f"hello + 5"

In [61]:
result

'hello + 5'

In [63]:
pi = 22/7

pi

3.142857142857143

In [64]:
f"One third, expressed as a float is: {1 / 3}"

'One third, expressed as a float is: 0.3333333333333333'

In [65]:
f"One third, rounded to two decimal places is: {1 / 3:.2f}"

'One third, rounded to two decimal places is: 0.33'

In [67]:
# txt = "We are the so-called "Vikings" from the north."
txt = "We are the so-called 'Vikings' from the north."
txt

"We are the so-called 'Vikings' from the north."

In [68]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

In [73]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False