In [3]:
import pandas as pd

In [4]:


# Sample DataFrame
df = pd.DataFrame({
    'numbers': [1, 2, 3, 4, 5]
})

# Extracting first 3 values into separate variables
a, b, c = df['numbers'][:3]

print("a:", a)
print("b:", b)
print("c:", c)

a: 1
b: 2
c: 3

In [5]:
variables = {}
for i, value in enumerate(df['numbers'][:3]):
    variables[f'var{i+1}'] = value

print(variables['var1'])  # 1
print(variables['var2'])  # 2
print(variables['var3'])  # 3

1
2
3

In [7]:


# Example: Simulating your column
df = pd.DataFrame({
    'col': [1, 2, 1, 3, 2, 3, 1, 2, 3, 4, 4, 4, 10000]
})

# Group values into a dictionary
grouped_vars = {}

for val in df['col']:
    if val not in grouped_vars:
        grouped_vars[val] = []
    grouped_vars[val].append(val)

# Example: Accessing values
print("Values for 1:", grouped_vars[1])
print("Values for 2:", grouped_vars[2])
print("Values for 3:", grouped_vars[3])
print("Values for 10000:", grouped_vars[10000])

Values for 1: [1, 1, 1]
Values for 2: [2, 2, 2]
Values for 3: [3, 3, 3]
Values for 10000: [10000]